@model StockManager.Models.TailorChalan

@{
    ViewBag.Title = "Update Tailor Chalan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <h4>Tailor Chalan</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="container">
            <div class="row">
                <div id="div1" class="col-md-6 col-xs-12">
                    <div class="form-group">
                        @Html.Label("Vendor", "VendorId", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-7">
                            @Html.DropDownList("VendorId", null, htmlAttributes: new { @class = "form-control col-md-7", @id = "Vendor" })
                            @Html.ValidationMessageFor(model => model.VendorId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div id="div2" class="col-md-6 col-xs-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ChalanNo, "Chalan#", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.ChalanNo, new { htmlAttributes = new { @class = "form-control", @id = "ChalanNo" } })
                            @Html.ValidationMessageFor(model => model.ChalanNo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="div2" class="col-md-6 col-xs-12">
                    <div class="form-group">
                        @Html.Label("Chalan Date", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-7">
                            <div class="controls input-append date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input1">
                                @Html.EditorFor(model => model.ChalanDate, new { htmlAttributes = new { @class = "form-control", @id = "ChalanDate" } })
                                <span class="add-on"><i class="icon-remove"></i></span>
                                <span class="add-on"><i class="icon-th"></i></span>
                            </div>
                            <input type="hidden" id="dtp_input1" value="" /><br />
                            @Html.ValidationMessageFor(model => model.ChalanDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="div1" class="col-md-6 col-xs-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.bill_number, "Bill Number", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.bill_number, new { htmlAttributes = new { @class = "form-control", @id = "BillNo" } })
                            @Html.ValidationMessageFor(model => model.bill_number, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div id="div2" class="col-md-6 col-xs-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, "Description", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @id = "Description" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div id="div1" class="col-md-6 col-xs-12 mt">
                    <div class="form-group">
                        <div class="col-md-2">
                        </div>
                        <div class="col-xs-12 col-md-8">
                            <input id="btnShowModal" type="button" value="Add Product" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div id="div1" class="col-md-12 col-xs-12">
                    <div class="form-group">
                        <table class="table table-striped table-advance table-hover" id="tailorChalanItems">
                            <tr id="productItemRow">
                                <td>
                                    <label class="productName">Product Name</label>
                                    <input type="hidden" class="productId" value="" />
                                    <input type="hidden" class="matarialList" value="" />
                                    <input type="hidden" class="rowCount" value="" />
                                    <input type="hidden" class="matarialDetails" value="" />
                                </td>
                                <td>
                                    <label class="productQuantity">Quantity</label>
                                </td>
                                <td>
                                    <label class="laborCost">Labor Cost</label>
                                </td>
                                <td class="itemEditRow"></td>
                            </tr>
                            @if (Model != null && Model.TailorChalanDetails != null)
                            {
                                var count = 0;
                                foreach (var item in Model.TailorChalanDetails)
                                {
                                    count++;
                                    var matarialDetail = "";
                                    if (Model.IsGivenToTailor == false)
                                    {
                                        foreach (var matarial in item.TailorMaterialDetails)
                                        {
                                            matarialDetail += (matarialDetail == "" ? "{\"ProductId\":\"" : ",{\"ProductId\":\"") + matarial.ProductId + "\",\"Quantity\":\"" + matarial.Quantity + "\"}";
                                        }
                                    }
                                    <tr>
                                        <td>
                                            <label class="productName">@item.Product.ProductName</label>
                                            <input type="hidden" class="productId" value="@item.ProductId" />
                                            <input type="hidden" class="rowCount" value="@count" />
                                            <input type="hidden" class="matarialDetails" value="@matarialDetail" />
                                            <input type="hidden" class="Id" value="@item.Id" />
                                        </td>
                                        <td>
                                            <label class="productQuantity">@item.Quantity</label>
                                        </td>
                                        <td>
                                            <label class="laborCost">@item.LaborCost</label>
                                        </td>
                                        <td class="itemEditRow">
                                            <button type="button" class="btn btn-warning btn-xs editItem" title="Edit"><i class="fa fa-pencil"></i></button>
                                            <button type="button" class="btn btn-danger btn-xs remove" title="Delete"><i class="fa fa-trash-o"></i></button>
                                        </td>
                                    </tr>
                                }
                            }
                        </table>
                    </div>
                </div>
            </div>

            <div class="row">
                <div id="div1" class="col-md-6 col-xs-12">
                    <div class="form-group">
                        <div class="col-md-2">
                        </div>
                        <div class="col-xs-12 col-md-8">
                            <input type="button" id="btnSubmit" class="btn btn-success" value="Save Tailor Chalan" />
                            @Html.ActionLink("Close", "Index", "tailorChalans", new { @class = "btn btn-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" tabindex="-1" id="itemModel"
                 data-keyboard="false" data-backdrop="static">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                ×
                            </button>
                            <h4 class="modal-title">Add Product</h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    @Html.Label("Product", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.DropDownList("ProductId", null, htmlAttributes: new { @class = "form-control", @id = "product" })
                                        @Html.ValidationMessage("ProductId", "", new { @class = "text-danger" })
                                        <input type="hidden" class="IdEdit" id="IdEdit" />
                                        <input type="hidden" class="countEdit" id="countEdit" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.Label("Quantity", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.Editor("Quantity", new { htmlAttributes = new { @class = "form-control", @id = "quantity" } })
                                        @Html.ValidationMessage("Quantity", "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.Label("LaborCost", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.Editor("LaborCost", new { htmlAttributes = new { @class = "form-control", @id = "laborCost" } })
                                        @Html.ValidationMessage("LaborCost", "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                @if (Model.IsGivenToTailor == false)
                                {
                                    <div class="form-group">
                                        <div class="details form-horizontal">
                                            <h2>
                                                &nbsp; Tailor Material Details
                                            </h2>
                                            <table class="table table-responsive">
                                                <tr>
                                                    <td>Product</td>
                                                    <td>Quantity</td>
                                                    <td>
                                                        @*<input type="button" id="addNewMaterial" value="add Material" class="btn-xs btn-success ">*@
                                                        <i id="addNewMaterial" class="fa fa-plus-circle"></i>
                                                        <span>Add Material</span>
                                                    </td>
                                                </tr>
                                                <tr class="mycontainer hiddenDiv" style="display:none" id="mainrow">
                                                    <td class="col-md-6 col-xs-6">
                                                        @Html.DropDownList("ProductId", null, htmlAttributes: new { @class = "materialId", id = "materialId" })
                                                    </td>
                                                    <td class="col-md-3 col-xs-3">
                                                        <input type="text" id="materialQuantity" class="materialQuantity" value="0" />
                                                    </td>
                                                    <td class="col-md-3 col-xs-3">
                                                        <input type="button" id="addMaterial" value="add Material" class="btn-xs btn-success" />
                                                    </td>
                                                </tr>
                                            </table>
                                            <div id="orderItems">
                                                <table class="table table-responsive" id="tailorMaterialDetails"></table>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button id="addProductItem" type="button" class="btn btn-success">Add Product</button>
                            <button type="button" id="btnHideModal" class="btn btn-danger">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}



@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnShowModal").click(function () {
                $('#quantity').val('');
                $('#laborCost').val('');
                $('#IdEdit').val('');
                $('#countEdit').val('');
                $('#tailorMaterialDetails').html('');
                $("#itemModel").modal('show');
            });

            $("#btnHideModal").click(function () {
                $('#quantity').val('');
                $('#laborCost').val('');
                $('#IdEdit').val('');
                $('#countEdit').val('');
                $('#tailorMaterialDetails').html('');
                $("#itemModel").modal('hide');
            });

            $("#addNewMaterial").click(function(){
                var $newRow = $('#mainrow').clone(true, true).removeAttr('id').removeClass('hiddenDiv');
                $('#materialId', $newRow).val($('#materialId').val());
                //$('.materialId', $newRow).text($('#materialId').text());
                $('#materialQuantity', $newRow).val($('#materialQuantity').val());
                $('#addMaterial', $newRow).val('Remove').removeClass('btn-success').addClass('btn-danger');
                //$('#materialId,#addMaterial,#materialQuantity', $newRow).removeAttr('id');
                $('#tailorMaterialDetails').append($newRow);
            });

            $('#addProductItem').click(function () {
                //validation and add order items
                var isAllValid = true;

                if (isAllValid) {
                    if($('#countEdit').val() == '')
                    {
                        var matarialDetail = "";
                        if('@Model.IsGivenToTailor' == 'False')
                        {
                            $('#tailorMaterialDetails tbody tr').each(function (index, ele) {
                                matarialDetail +=  (matarialDetail == "" ? "{\"ProductId\":\"" : ",{\"ProductId\":\"") +  $('.materialId', this).val() + "\",\"Quantity\":\"" +  $('.materialQuantity', this).val() + "\"}";
                            });
                        }

                        var $newRow = $('#productItemRow').clone().removeAttr('id');

                        $('.productId', $newRow).val($('#product').val());
                        $('.productName', $newRow).text($('#product option:selected').text());
                        $('.productQuantity', $newRow).text($('#quantity').val());
                        $('.laborCost', $newRow).text($('#laborCost').val());
                        $('.matarialDetails', $newRow).val(matarialDetail);
                        $('.rowCount', $newRow).val($('#tailorChalanItems tr').length);
                        $('.itemEditRow', $newRow).append('<button type="button" class="btn btn-warning btn-xs editItem" title="View Material Used"><i class="fa fa-pencil"></i></button> | <button type="button" class="btn btn-danger btn-xs remove" title="Delete" ><i class="fa fa-trash-o"></i></button>');
                        //$('.itemEditRow', $newRow).append('<button type="button" class="btn btn-danger btn-xs remove" title="Delete" ><i class="fa fa-trash-o"></i></button>');
                        $('#tailorChalanItems').append($newRow);
                        $('#materialQuantity').val('');
                        $('#laborCost').val('');
                        $('#tailorMaterialDetails').html('');
                        $("#itemModel").modal('hide');
                    }
                    else
                    {
                        $('#tailorChalanItems tbody tr').each(function (index, ele) {
                            //update product list
                            if($('.rowCount', this).val() == $('#countEdit').val())
                            {
                                var matarialDetail = "";
                                if('@Model.IsGivenToTailor' == 'False')
                                {
                                    //$('#tailorMaterialDetails tbody tr').each(function (index, ele) {
                                    //    matarialDetail +=  (matarialDetail == "" ? "{\"ProductId\":\"" : ",{\"ProductId\":\"") +  $('.materialId', this).val() + "\",\"Quantity\":\"" +  $('.materialQuantity', this).val() + "\"}";
                                    //});
                                }

                                $('.productId', this).val($('#product').val());
                                $('.productName', this).text($('#product option:selected').text());
                                $('.productQuantity', this).text($('#quantity').val());
                                $('.laborCost', this).text($('#laborCost').val());
                                $('.matarialDetails', this).val(matarialDetail);
                                $('.rowCount', this).val($('#tailorChalanItems tr').length);

                                $('#quantity').val('');
                                $('#laborCost').val('');
                                $('#IdEdit').val('');
                                $('#countEdit').val('');
                                $('#materialQuantity').val('');
                                $('#tailorMaterialDetails').html('');
                                $("#itemModel").modal('hide');
                            }
                        });
                    }
                }
            });


            $('#tailorChalanItems').on('click', '.editItem', function(){
                //show modelpopup with edit item
                $('#product').val($('.productId', $(this).parents('tr')).val());
                $('#quantity').val($('.productQuantity', $(this).parents('tr')).text());
                $('#laborCost').val($('.laborCost', $(this).parents('tr')).text());
                $('#IdEdit').val($('.Id', $(this).parents('tr')).val());
                $('#countEdit').val($('.rowCount', $(this).parents('tr')).val());
                $('#addProductItem').text("Update product");

                var str = $('.matarialDetails', $(this).parents('tr')).val()
                if(str != "")
                {
                    var matObj = JSON.parse("[" + str + "]");
                    var matarialList = [];
                    for(var i = 0; i < matObj.length; i++)
                    {
                        var $newRow = $('#mainrow').clone(true, true).removeAttr('id');
                        $('#materialId', $newRow).val(matObj[i].ProductId);
                        $('#materialQuantity', $newRow).val(matObj[i].Quantity);
                        $('#addMaterial', $newRow).val('Remove').removeClass('btn-success').addClass('btn-danger');
                        $('#tailorMaterialDetails').append($newRow);
                    }
                }
                $("#itemModel").modal('show');
            });

            function getmatatialobj(str)
            {
                var matObj = JSON.parse("[" + str + "]");
                var matarialList = [];
                for(var i = 0; i < matObj.length; i++)
                {
                    var objMat = {
                        ProductId: matObj[i].ProductId,
                        Quantity: matObj[i].Quantity
                    }
                    matarialList.push(objMat);
                }
                return matarialList;
            }

            $('#btnSubmit').click(function () {
                var isAllValid = true;

                //validate order items
                var list = [];
                var errorItemCount = 0;
                $('#tailorChalanItems tbody tr').each(function (index, ele) {
                    if ($('.productId', this).val() != null && $('.productId', this).val() != "0" && $('.productId', this).val() != "") {
                        var orderItem = {
                            Id:$('.Id', this).val(),
                            ChalanId: @Model.Id,
                            ProductId: $('.productId', this).val(),
                            Quantity: $('.productQuantity', this).text(),
                            LaborCost: $('.laborCost', this).text(),
                            TailorMaterialDetails: getmatatialobj($('.matarialDetails', this).val())
                        }
                        list.push(orderItem);
                    }
                }
                );

                var data = {
                    Id:@Model.Id,
                    VendorId: $('#Vendor').val(),
                    ChalanDate: $('#ChalanDate').val(),
                    ChalanNo: $('#ChalanNo').val(),
                    IsGivenToTailor: (('@Model.IsGivenToTailor' == 'True') ? 1 : 0),
                    bill_number:$('#BillNo').val(),
                    Description:$('#Description').val(),
                    TailorChalanDetails: list,
                }

                $.ajax({
                    type: 'POST',
                    url: '/tailorChalan/Edit',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    success: function (data) {
                        if (data != "0") {
                            alert('Printer Chalan Updated Successfully.');
                            window.location.href = '/TailorChalan/Details/' + data;
                        }
                        else {
                            //$(this).val('Save Printer Chalan');
                            alert('Error in saving printer chalan');
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });

            //remove button click event
            $('#tailorChalanItems').on('click', '.remove', function () {
                if($('.Id', $(this).parents('tr')).val() != undefined && $('.Id', $(this).parents('tr')).val() != "")
                {
                    if(confirm('Are you sure you wish to delete this product.'))
                    {
                        $.ajax({
                            type: 'Get',
                            url: '/TailorChalan/DeleteProduct/' + $('.Id', $(this).parents('tr')).val(),
                            contentType: 'application/json',
                            success: function (data) {
                                if (data == "product deleted Successfully.") {
                                    $(this).parents('tr').remove();
                                }
                                else {
                                    alert('Error in deleting product.');
                                }
                            },
                            error: function (error) {
                                console.log(error);
                            }
                        });
                    }
                }
                else
                {
                    $(this).parents('tr').remove();
                }
            });
        });
</script>
}





