@*@model IEnumerable<StockManager.Models.TailorChalan>*@
@model PagedList.IPagedList<StockManager.Models.TailorChalan>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Tailor Chalan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tailor Chalan</h2>
@if (ViewBag.Send == 1)
{

    @Html.ActionLink("Create new Tailor Chalan(Given)", "Create", new { id = 1 }, new { @class = "btn btn-success" })

}
else
{

    @Html.ActionLink("Create new Tailor Chalan(Receive)", "Create", new { id = 0 }, new { @class = "btn btn-success " })

}
<table class="table table-striped table-advance table-hover mt">
    <tr>
        <th>
            Chalan Number
        </th>
        <th>
            Vendor Name
        </th>
        <th>
            Chalan Date
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(Convert.ToString(item.Id), "Details", new { id = item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vendor.VendorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChalanDate)
            </td>           
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-warning btn-xs" })
                |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { onclick = "return confirm('Are you sure you wish to delete this printer chalan?');", @class = "btn btn-danger btn-xs" })
            </td>
        </tr>
    }
</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { ViewBag.Send, page }))