<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <!-- END SIDEBAR -->
    <div class="page-sidebar navbar-collapse collapse" style="z-index: 1000">
        <!-- BEGIN SIDEBAR MENU -->
        <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-hover-submenu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            <li class="nav-item start">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            <li class="nav-item start">
                <a href="@Url.Action("Index", "Vendors")" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">Vendor</span>
                </a>
            </li>
            <li class="nav-item start">
                <a href="@Url.Action("Index", "Products")" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">Product</span>
                </a>
            </li>
            <li class="nav-item start">
                <a href="@Url.Action("Index", "Customers")" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">Customer</span>
                </a>
            </li>
            <li class="nav-item start">
                <a href="@Url.Action("Index", "PurchaseOrders")" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">Purchase Orders</span>
                </a>
            </li>
            <li class="nav-item start">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">Printer Challan</span>
                </a>
            </li>
            <li class="nav-item start">
                <a href="@Url.Action("Index", "TailorChalan")" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">Tailor Challan</span>
                </a>
            </li>
            <li class="nav-item start">
                <a href="@Url.Action("Index", "Invoices")" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">Sales Invoice</span>
                </a>
            </li>
            <li class="nav-item start">
                <a href="@Url.Action("Index", "Users")" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">Users</span>
                </a>
            </li>
            <li class="nav-item start">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">Reports</span>
                </a>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>
<!-- END SIDEBAR -->