@model StockManager.Models.PurchaseOrder

@{
    ViewBag.Title = "Purchase Order Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h4>Purchase Invoice# @Model.InvoiceNumber</h4>
    <hr />
    <dl class="dl-horizontal">  
        <dt>
            Vendor Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendor.VendorName)
        </dd> 
        <dt>
           Invoice Number
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceNumber)
        </dd>

        <dt>
           Invoice Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceDate)
        </dd>       
    </dl>
</div>
<p>
    Purchase Details
</p>
<table class="table">
    <tr>
        <th>
            Product Name
        </th>
        <th>
            Quantity
        </th>
        <th>
            Rate
        </th>
        <th>
            Fold
        </th>        
    </tr>
    @{
        if (Model != null && Model.PurchaseDetails != null)
        {
            foreach (var item in Model.PurchaseDetails)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fold)
                    </td>
                </tr>
            }
        }
    }
</table>
<p> 
    @Html.ActionLink("Close", "Index", "PurchaseOrders", new { @class = "btn btn-danger" })    
</p>