@model List<StockManager.Models.InvoiceMaster>

@{ 
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Invoices Print</title>
    <link href="~/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Invoice #
                </th>
                <th>
                    Vendor
                </th>
                <th>
                    Gross
                </th>
                <th>
                    Net
                </th>
                <th>
                    Created On
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.invoice_no
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Vendor.VendorName)
                    </td>
                    <td>
                        Rs @Html.DisplayFor(modelItem => item.gross_amount)
                    </td>
                    <td>
                        Rs @Html.DisplayFor(modelItem => item.net_amount)
                    </td>
                    <td>
                        @(item.created_on?.ToString("dd-MMM-yyyy"))
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <script>
         setTimeout(function(){
        
           window.print();
           window.location.href="@Url.Action("Index")";
        
         }, 100);
    </script>
</body>
</html>