@model StockManager.Models.InvoiceMaster

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Print</title>
    <link href="~/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <style>
        table thead tr th {
            background: #aaa;
        }

        #total_row td {
            border-top: 2px solid #bbb !important;
        }
    </style>
</head>
<body>

    <div class="container-fluid">
        <div style="margin-bottom: 10px;">
            @Html.Partial("_ChalanTop")
        </div>
        <div class="row" style="margin: 15px 0; font-size: 1.3em">
            <div class="pull-left">
                No: <strong>@Model.invoice_no</strong>
            </div>
            <div class="pull-right">
                Date: <strong>@(Model.created_on?.ToString("dd MMMM, yyyy"))</strong>
            </div>
        </div>
        <div class="row" style="margin: 15px 0; font-size: 1.3em">
            <div>
                M/s <strong>@Model.Customer.CustomerName</strong>
            </div>
        </div>
        <div class="row" style="margin: 15px 0;">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width: 5%">S.No.</th>
                        <th>Particulars</th>
                        <th>Pcs</th>
                        <th>Rate</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model.InvoiceDetails.Count() > 0)
                        {
                            var i = 1;
                            foreach (var item in Model.InvoiceDetails)
                            {
                                <tr>
                                    <td>
                                        @i
                                    </td>
                                    <td>
                                        @item.Product.ProductName
                                    </td>
                                    <td style='width: 15%' class='sale'>
                                        @item.quantity
                                    </td>
                                    <td style='width: 15%' class='qty'>
                                        Rs @item.sale_rate
                                    </td>
                                </tr>
                                i++;
                            }
                        }
                    }
                    <tr id="total_row">
                        <td></td>
                        <td style="text-align: right;">Gross</td>
                        <td style="text-align: right;">Rs</td>
                        <td>@Model.gross_amount</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td style="text-align: right;">Discount</td>
                        <td style="text-align: right;">Rs</td>
                        <td>@Model.discount</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td style="text-align: right;">Net Total</td>
                        <td style="text-align: right;">Rs</td>
                        <td>@Model.net_amount</td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <div class="pull-left">
                                <div>E. & O.E.</div>
                                <div>Subject to Jaipur Jurisdiction only</div>
                            </div>
                            <div class="pull-right">
                                <div style="margin-top: 20px;">
                                    For <strong style="font-family: 'Times New Roman'">Durga</strong>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>